[delta]
	navigate = true
	theme = ligth
	light = false
	dark = true
	side-by-side = false
	line-numbers = true
	merge-conflict-begin-symbol = <<<<<<<
	merge-conflict-end-symbol = >>>>>>>
	hyperlinks = true
[core]
	pager = delta
	autocrlf = input
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictStyle = zdiff3
[pager]
	blame = delta
[user]
#	name = Tom
#	email = tom@example.com
